body{
    margin: 0 auto;
    width: 80%;
    background-color: antiquewhite;
    height: 1100px;
}
#contaner{
    border: 1px solid black;
    height: 1100px;
}
html{
    background-color: white;
}
#body{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 800px;
}
header{
    height: 200px;
    border: 1px solid black;
}
aside{
    border: 1px solid black;
    width: 160px;
    margin: 10px;
}
main{
    border: 1px solid black;
    width: 800px;
    margin:10px 0px 10px 40px;
}
footer{
    border: 1px solid black;
    height: 100px;
}